.container {
  display: center;
}

.container1 {
  display: flex;
  padding-top: 100px;
  height: 8px;
  width: 0px;
  padding-left: 350px;
}

.container2 {
  padding-top: 300px;
  display: flex;
  align-items: center;
  height: 300px;
  width: 700px;
  padding-left: 350px;
}

.img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.face {
  padding-left: 15%;
  width: 250px;
  height: 250px;
}

.front,
.back {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: 800ms;
}

.front {
  z-index: 1;
}

.back {
  text-align: center;
  background: #45C1C6;
  transform: rotateY(-180deg);
}

.face:hover .front {
  transform: rotateY(180deg);
  z-index: 0;
}

.face:hover .back {
  transform: rotateY(0);
  z-index: 1;
}

.git {
  align-items: center;
  height: 65px;
  width: 65px;
  padding-top: 95px;
}

.link {
  height: 65px;
  width: 65px;
  padding-left: 40px;
}

.P {
  padding: 10px;
}

.P2 {
  padding: 10px;
}

.P3 {
  padding: 10px;
}

.P4 {
  padding: 10px;
}

.P5 {
  padding: 10px;
}

.P6 {
  padding: 10px;
}

.P7 {
  padding: 10px;
}

.P8 {
  padding: 10px;
}