#nav {
  width: 100%;
}

#topnav {
  background-color: #45C1C6;
  overflow: hidden;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  padding: 18px 16px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
  transition: 500ms;
}

#topnav a:hover {
  transform: scale(1.15, 1.15);
  background-color: rgb(236, 240, 245);
  border-radius: 20px;
  color: black;
}

#icon {
  height: 150px;
  background-color: rgb(236, 240, 245);
  display: flex;
  justify-content: start;
  align-items: center;
}

#icon article {
  display: flex;
  align-items: center;
}

#icon section{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 400px;
  margin-left: 50px;
}

#icon section a {
  color: black;
  margin-left: 10px;
  border-radius: 10px;
  transition: 600ms;
}

#icon section a:hover {
  color: white;
  background-color: black;
}

#icon article {
  margin-right: 442px;
  margin-left: -20px;
}

#icon div{
  display: flex;
}

#icon div a {
  color: black;
  margin-left: 10px;
  border-radius: 10px;
  transition: 600ms;
}

#icon div a:hover{
  color: white;
  background-color: black;
}