@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.peixinhoO{
    background: url('https://media.discordapp.net/attachments/607999666839093248/1021486576057974864/peixeclaro.png?width=902&height=432');
    position: flex;
    background-repeat: repeat !important;
}

*{
    font-family: 'Poppins', sans-serif;
}

h2{
color: rgb(49, 49, 49);
}

h4{
color: rgb(49, 49, 49);
}

h5{
color: #41c5c6;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin-top: -50px;
}

.card1 {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.685) !important;
    border-radius: 8px;
    width: 1100px;
    height: 525px;
    background-color: rgb(236, 240, 245);
    
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: 10px;
}

span{
    font-size: 15px;
 }

.separar{
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mg-top0{
    text-align: center;
    font-size: 35px;
    display: flex;
    align-items: center;

}

 .mg-top1{
    margin-top: -90px;  
 
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .mg-top15{
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .mg-top16{
    color: rgb(49, 49, 49);
    margin-bottom: 175px;
    align-items: center;
    justify-content: center;
    text-align: justify;
 }

 .mg-toph21{
    margin-bottom: 5px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #img-card1{
    border-radius: 8px;
    width: 700px;
    height: 475px;
 }

 #Dados-do-Peixe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #45c1c6;
    padding: 10px;
    align-items: right;
}

.selecionarQuantidade{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: -150px;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus{
    margin-right: 25px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #45c1c6;
    transition: 500ms;
    border-radius: 5px;
    justify-content: center;
}

.minus:hover{
    background-color: #346364;
}

.plus{
    margin-left: 25px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #45c1c6;
    transition: 500ms;
    border-radius: 5px;
    justify-content: center;
}

.plus:hover{
    background-color: #346364;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: none;
    background-color: #45c1c6;
    transition: 500ms;
    border-radius: 10px;
    font-size: 45px;
}

.cart:hover{
    background-color: #346364;
}
