.homeback {
  background: url('https://media.discordapp.net/attachments/607999666839093248/1021486576057974864/peixeclaro.png?width=902&height=432');
}

.configCardHome{
  width: 100%;

  display: flex;

  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 100px;
  margin-bottom: 70px;
}

.cardHome {
  border: 1px solid #41c5c6;
  border-radius: 8px;
  width: 300px;
  background-color: rgb(236, 240, 245);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px;
  margin: 10px;
}

.btn-ajudarHome{
  margin: 1rem 0;
  display: flex;
  width: 80%;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  padding: .3rem;
  cursor: pointer;
  background: #41c5c6;
  color: white;
  text-decoration: none;
  text-align: center;

  transition: all .2s ease-out;
}

.btn-ajudarHome:hover {
  transform: scale(1.1);
  font-weight: bold;
}


#img-cardHome{
  border-radius: 8px;
  width: 100%;
  height: 250px;
}

/* ------HOME--------- */

#meiohome {
  width: 100%;
}

#meiohome article {
  width: 100%;

  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  
}

#meiohome article a{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


#meiohome a:hover{
  transition: 800ms;
  transform: scale(1.2,1.2);
}

#homefoto img {
  width: 70%;
}

#homefoto h3 {
  color: #45c1c6;
  font-size: 27.5px;
  margin-top: -40px;
}

#homefoto a{
  color: white;
  
}

@media only screen and (max-width: 500px) {
  #homefoto a h3 {
    display: none;
  }

  #homefoto a img{
    width: 89%;
  }
}

@media (max-width: 800px) {
  .configCardHome{
    width: 89%;
  
    display: block;

    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 50px;
  
  }

}