#meiohome {
  width: 100%;
}

#meiohome article {
  width: 100%;

  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  
}

#meiohome article a{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


#meiohome a:hover{
transition: 800ms;
  transform: scale(1.2,1.2);
}

#homefoto img {
  width: 70%;
}

#homefoto h3 {
  color: #45c1c6;
  font-size: 27.5px;
}

#homefoto a{
  color: white;
  
}

@media only screen and (max-width: 600px) {
  #homefoto a h3 {
    display: none;
  }

}