#meiohome article {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 100px;
  
}


#meiohome a:hover{
transition: 800ms;
  transform: scale(1.2,1.2);
}

#homefoto img {
  width: 250px;
  height: 250px;

}

#homefoto h3 {
  color: #45c1c6;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: -50px;
  text-shadow: 15px ;
  font-size: 27.5px;
}
#homefoto a{
  color: white;
  
}