#carrinho_component1 {
    width: 100%;
}

.carrinhocorpo1 {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.carrinhocard1 {
    display: flex;
    align-items: center;
    height: 130px;
    background: url('https://media.discordapp.net/attachments/607999666839093248/1021486576057974864/peixeclaro.png?width=902&height=432');
    border-radius: 15px;
    margin: 10px;
}

.img-carrinho1 {
    display: flex;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.carrinhofaixa1 {
    display: flex;
    justify-content: center;
    align-items: center;
padding: 40px;
    font-size: 50px;
}

.carrinhofim1 {
    background-color: rgb(236, 240, 245);
    height: 100px;


}

.carrinhoinfocard1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 130px;

}

.carrinhoinfocard1 div:first-child {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carrinhoinfocard1 div:last-child {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.carrinhobuttom1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 130px;
}

.imglixo1 {
    width: 50px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 239, 239, 0.5);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: 500ms;
    border: none;
}

.imglixo1:hover {
    background-color: rgb(235, 75, 75);
}

.menos1 {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #45c1c6;
    transition: 500ms;
    border-radius: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.menos1:hover {
    background-color: #346364;
}

.mais1 {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #45c1c6;
    transition: 500ms;
    border-radius: 100%;
    justify-content: flex-start;
    cursor: pointer;
}


.mais1:hover {
    background-color: #346364;
}

.carrinhofimbotao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
}

.carrinhofimbotao1 button {
    background-color: #45c1c6;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.685);
    width: 220px;
    height: 65px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: white;
    transition: 0.5s;
    
}

.carrinhofimbotao1 button:hover {
    background-color: #81f140;
    font-weight: bold;
}

.pagar1 {
    background-color: rgb(236, 240, 245);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 50px;
}

.pagar1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 75px;
    background-color: #45c1c6;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.685);
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

.pagar1 a:hover {
    background-color: green;
}

@media only screen and (max-width: 610px) {
    .carrinhocard {
        width: 95%;
    }

    .img-carrinho {
        width: 100px;
    }
}